body {
  background-color: rgb(255, 255, 255);
  color: rgb(24, 40, 95);
}

p {
  margin-right: 5%;
  margin-left: 5%;
}

h1 {
  margin-right: 5%;
  margin-left: 5%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.header-main {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

ul {
  display: block;
}

li {
  display: inline-block;
  margin-right: 40px;
}

.logo {
  top: 0;
  left:auto;
  /* position: absolute; */
  width: 30em;
}

.haynes-image {
  border: 2px solid darkblue;
  margin-top: 50px;
  width: 50%;
}

.moving-gallery-main {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-placeholder {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #000000;
  border: 2px solid blue;
  margin: 15px;
}

.slogan-box {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
}

.dolley-icon {
  width: 100px;
  margin-top: 40px;
}

.slogan-text {
  color: rgb(24, 40, 95);
  margin-left: 50px;
  margin-right: 5%;
  margin-left: 5%;
}

.w3container {
  border: 1px solid #cccfdb; /* Border style for w3rcontainer */
  border-radius: none; /* Border radius for w3rcontainer */
}

.introduction-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.haynes-bros {
  margin-top: 30px;
  border: 2px solid black;
}

li {
  display: inline-block; /* Display inline block */
  position: relative; /* Set position relative */
  background: transparent;
  padding: 5px;
  border: none;
  color: #000000; /* Set text color */
  margin-right: 15px;
  cursor: pointer;
}

li:after {
  content: ''; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 2px; /* Height of the underline */
  bottom: 0; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: darkblue; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.25s ease-out; /* Transition effect for the underline */
 
}

li:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}